<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>   
        <link rel="stylesheet" href="style.css">
        <title>
            SIT120
        </title>
        <style>
        </style>
    </head>
    <body>
        <center>
        <h1 style="color: brown;">
            SIT120 Week 1 Task
        </h1>
        <h2 style="color: purple;">
            HTML, CSS, JavaScript, Vue.js
        </h2>
        <h3 id="header3">
            This text will change color if a button is clicked.
        </h3>
        <p>
            Raccoons are omnivores and opportunistic eaters, which means they feed on whatever is most convenient.<br/>
            Their meals can include nuts, berries, fruits, acorns, grasshoppers, mice, fish, frogs, insects, small mammals, and ground-dwelling birds and their eggs.<br/>
            Raccoons are also adept scavengers.<br/>
            They rummage through garbage cans and compost piles and steal pet food that is left outside overnight. They climb bird feeders and dine on birdseed, as well.<br/>
        </p>
        
        <table class="center" border="1">
            <tr>
              <th>Table Header 1</th>
              <th>Table Header 2</th>
              <th>Table Header 3</th>
            </tr>
            <tr>
              <td>Table Data Row 1</td>
              <td>Table Data Row 1</td>
              <td>Table Data Row 1</td>
            </tr>
            <tr>
              <td>Table Data Row 2</td>
              <td>Table Data Row 2</td>
              <td>Table Data Row 2</td>
            </tr>
        </table>
        <br/>
        <br/>
        <br/>
        <br/>
        <a href="https://knowyourmeme.com/memes/evil-plotting-raccoon">Click this link (knowyourmeme.com)</a> <br/>
        <img src="https://i.kym-cdn.com/entries/icons/original/000/028/727/Screen_Shot_2019-02-26_at_3.38.50_PM.png" alt="Scheming Racoon" align="center">
        <p>
            This is a second paragraph that <br/> uses the bracket HTML tag
        </p>
        <br/>
        <br/>
        <br/>
        <br/>
        <button id="btn" onclick="showAlert()">
            Click this button to change on of the Text's color.
        </button>
        <br/>
        <br/>
        <br/>
        <br/>
        <button onclick="document.getElementById('date').innerHTML = Date()">
            Check Date & Time
        </button>
        <p id="date"></p>
        <div id="app">
            <div v-for="todo in todos" :key="todo.title"
                :style="{ textDecoration: todo.checked? 'line-through':'none' }">
                <input type="checkbox" v-model="todo.checked" />
                {{ todo.title }}
            </div>
        </div>
        <script>
            function showAlert()
            {
                alert("One of the text's color has change after clicking OK")
                var heading3 = document.getElementById("header3");
                heading3.style.color = "red";
            }
        </script>

          </center>
    </body>
</html>
<script src="script.js"></script>