body {
    background-color: whitesmoke;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 18pt;
    margin: 0px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main-header {
    background-color: hsl(174, 73%, 26%);
    color: white;
}
#navbar {
    background-color: #BFBFBF;
    color: white;
}
#navbar li {
    display: inline;
    padding: 10px;
}
#navbar a {
    color: #10403B;
    font-weight: bold;    
}
#showcase {
    background-position: center;
    background-image: url(../Week\ 2\ Task/image/img1.jpg);
    background-size: 100%;
    min-height: 300px;
    text-align: center;
    color: white;
    font-size: 200%;
}
#showcase-about {
    background-color: #333;
    background-position: center;
    background-size: 100%;
    min-height: 100%;
    text-align: center;
    color: white;
    font-size: 100%;
}
#showcase h1 {
    color: white;
    font-size: 50px;
    line-height: 50px;
}
#main{
    float: left;
    width: 70%;
    padding: 50px;
    box-sizing: border-box;
}
#main-about{
    float: middle;
    padding: 50px;
    box-sizing: border-box;
}
#sidebar {
    float: right;
    width: 30%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
#youtube-vid{
    padding: 10px;
}
#google-maps {
    padding: 10px;
}
#app {
    padding: 40px;
    background-color: #10403B;
    color: white;
    margin-left: auto;
    margin-right: auto;
    
}
#app p {
    font-size: xx-large;
}
#buttons {
    padding: 20px;
}
#main-footer{
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: auto;
}
@media(max-width: 600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}